@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  background-color: #FFE4E1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/
.user{
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: rgba(228, 227, 224, 0.26);
  width: 50%;
  height: 100%;
  padding: 30px;
  border-radius: 5%;
  border: dotted lightpink thin;
}
.user p{
  margin-top: 15px;
  color: rgb(41, 40, 40);
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  text-align: center;

}

/*.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/